<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ctn.diskfree</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Cedric Noordam</string>
	<key>description</key>
	<string>Displays information about free space on your laptop</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Disk Free</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>df</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Displays information about your free disk space, retrieving...</string>
				<key>script</key>
				<string>sh ./diskfree.sh</string>
				<key>subtext</key>
				<string>Displays information about your free disk space</string>
				<key>title</key>
				<string>Disk Free</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BF3BFB23-351E-4ADA-9D26-D90DDDC6EFF8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>BF3BFB23-351E-4ADA-9D26-D90DDDC6EFF8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
