# my aliases

# quick platform check
PLATFORM=$(uname)


alias la="ls -a"
alias lla="ls -la"
alias ll="ls -lh"

alias mkdir="mkdir -p"

# ls for mac with gdircolors
if [[ $PLATFORM == "Darwin" ]]; then
   alias ls="gls --color=auto"
   alias la="gls -a --color=auto"
   alias lla="gls -la --color=auto"
   alias ll="ls -lh --color=auto"
fi

alias vim="nvim"
alias svim="sudo -E nvim"

alias hiss="history | grep"

alias ctlr="sudo systemctl restart"
alias ctl="sudo systemctl"

alias journal="sudo journalctl"

alias aptup="sudo apt-get update && sudo apt-get upgrade -y"
alias inst="sudo apt-get update && sudo apt-get install -y"

alias disks="sudo lsblk -o 'NAME,LABEL,SIZE,MOUNTPOINT,UUID,VENDOR'"

alias rsync="rsync --no-i-r --info=progress2"

alias dc="docker compose -f /opt/docker-compose.yml"

alias tls="tmux ls"
alias ta="tmux attach"
alias tat="tmux attach -t"
alias tns="tmux new -s"

alias ga="git add"
alias gc="git commit"
alias gcm="git commit -m"
alias gacm="git add . && git commit -m"

if which bat > /dev/null; then
   alias cat="bat --paging=never"
elif which batcat > /dev/null; then
   alias cat="batcat --paging=never"
fi
