[color]
	ui = auto
[core]
	pager = less -F -X
	excludesfile = ~/.gitignore_global
	editor = nvim
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[include]
    path = ~/.gitconfig.local
