"*":
  core:
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
    titleBar: "custom-inset"
  editor:
    fontFamily: "Hack"
    softWrap: true
    tabLength: 3
  "exception-reporting":
    userId: "87102d9b-5def-4934-a0c1-9e23ede56d6f"
  fonts:
    fontFamily: "Hack"
  "letter-spacing":
    "letter-spacing": -1
  "nord-atom-ui":
    darkerFormFocusEffect: true
    tabSizing: false
  welcome:
    showOnStartup: false
